:root 
{
    font-family: "Josefin Sans", sans-serif;
}

/*==================================
This is what controls the page's layout.
DO NOT CHANGE
==================================*/

html, body 
{
    height: 100%;
    margin: 0;
}

body 
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

body header.row
{
    background-color: black;
    display: inline-flex;
    flex: 0 1 auto;
    /* the above stands for
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
    align-items: center;
}

body section.row
{
    flex: 1 1 auto;
}

body section.mainContent
{
    width: 80%;
    align-self: center;
}

body footer.row
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

    flex: 0 1 40px;
}

/*==================================
====================================
==================================*/

.logoDiv
{
    padding: 10px;
    width: 100px;
}

.logoIcon
{
    width: 50px; 
    margin-left: 50%   
}

.navDiv
{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* This is for the links on the page */

.navDiv a
{
    text-decoration: none;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.navDiv a:link
{
    color: #cac8d0;
}

.navDiv a:visited
{
    color: #cac8d0;
}

.navDiv a:hover
{
    color: white;
}

/* ================================== */

/* This defines the main content of the page */

section.row
{
    display: flex;
}

section.row div
{
    height: 100%;
    width: 50%;
}

/* ===========================================*/

section.post, .imagePost
{
    width: 90%;
    margin: 5%;
}